# SUPPLY CHAIN ANALYTICS PROJECT

## Project Description :

The project involves analyzing a real-world supply chain dataset to address key challenges in shipment and inventory management. This includes identifying supply chain inefficiencies, creating insightful dashboards, and providing actionable insights to inform business stakeholders of potential problems and propose structural improvements to enhance operations.

## Key Insights:
Shipment Delays:Significant delays were identified, with shipments categorized into on-time, minor delays, and major delays. This provides a clear view of performance and areas needing logistical improvement.

Inventory Storage Costs:High storage costs were calculated, emphasizing the need for better demand forecasting and reducing overstock to lower operational costs.

Net Sales and Discounts:The effect of discounts on net sales was analyzed, helping to assess the impact of pricing strategies on revenue and profitability.

Data Cleaning:Issues like special characters in country names and placeholders in discount columns were resolved, ensuring data accuracy for further analysis.

Key Metrics:New features such as Shipment Delay Days, Storage Cost, and Net Sales were created to track performance more effectively and drive actionable insights.

####Importing necessary libraries & dataset

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Data Overview

In [ ]:
# Loading dataset files into a DataFrames
fulfillment = pd.read_csv('fulfillment.csv', encoding='ISO-8859-1')
inventory = pd.read_csv('inventory.csv', encoding='ISO-8859-1')
order = pd.read_csv('orders_and_shipments.csv', encoding='ISO-8859-1')

In [ ]:
# Display the first 5 rows of the fulfillment data to get an overview of the dataset
fulfillment.head()

,Product Name,Warehouse Order Fulfillment (days)
0,Perfect Fitness Perfect Rip Deck,8.3
1,Nike Men's Dri-FIT Victory Golf Polo,6.6
2,O'Brien Men's Neoprene Life Vest,5.5
3,Nike Men's Free 5.0+ Running Shoe,9.4
4,Under Armour Girls' Toddler Spine Surge Runni,6.3

In [ ]:
# Display the first 5 rows of the inventory data to get an overview of the dataset
inventory.head()

,Product Name,Year Month,Warehouse Inventory,Inventory Cost Per Unit
0,Perfect Fitness Perfect Rip Deck,201712,0,0.69517
1,Nike Men's Dri-FIT Victory Golf Polo,201712,2,1.29291
2,O'Brien Men's Neoprene Life Vest,201712,0,0.56531
3,Nike Men's Free 5.0+ Running Shoe,201712,1,1.26321
4,Under Armour Girls' Toddler Spine Surge Runni,201712,0,1.47648

In [ ]:
# Display the first 5 rows of the order data to get an overview of the dataset
order.head()

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Customer Country,Warehouse Country,Shipment Year,Shipment Month,Shipment Day,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,2,27,Standard Class,4,400,0.25,200
1,4133,10320,201503,2015,3,2,7:37,1,Fan Shop,Fishing,...,Brazil,Puerto Rico,2015,3,6,Standard Class,4,400,0.09,200
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,4,20,Standard Class,4,400,0.06,200
3,11026,27608,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.15,200
4,11026,27609,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.13,200

#Data Exploration

##Check all the columns

In [ ]:
fulfillment.columns

Index(['Product Name', ' Warehouse Order Fulfillment (days) '], dtype='object')

#### Dataset information :
Product Information: Product Name.

Fulfillment Metrics: Warehouse Order Fulfillment (in days).

In [ ]:
inventory.columns

Index(['Product Name', ' Year Month ', ' Warehouse Inventory ',
       'Inventory Cost Per Unit'],
      dtype='object')

#### Dataset information :
Product Information: Product Name.

Inventory Data: YearMonth (Year, Month), Warehouse Inventory, and Inventory Cost Per Unit.

In [ ]:
order.columns

Index([' Order ID ', ' Order Item ID ', ' Order YearMonth ', ' Order Year ',
       ' Order Month ', ' Order Day ', 'Order Time', 'Order Quantity',
       'Product Department', 'Product Category', 'Product Name',
       ' Customer ID ', 'Customer Market', 'Customer Region',
       'Customer Country', 'Warehouse Country', 'Shipment Year',
       'Shipment Month', 'Shipment Day', 'Shipment Mode',
       ' Shipment Days - Scheduled ', ' Gross Sales ', ' Discount % ',
       ' Profit '],
      dtype='object')

#### Dataset information :
Order Details: Order ID, Order Item ID, Order Date (YearMonth, Year, Month, Day), Order Time, and Order Quantity.

Product Information: Product Department, Product Category, Product Name.

Customer Information: Customer ID, Market, Region, Country.

Shipping Information: Warehouse Country, Shipment Date (Year, Month, Day), Shipment Mode, Shipment Days Scheduled.

Financials: Gross Sales, Discount Percentage, Profit.

##Check shape of the imported datasets

In [ ]:
fulfillment.shape
print(f"StudentsPerformance data has {fulfillment.shape[0]} data points and {fulfillment.shape[1]} features.")

inventory.shape
print(f"StudentsPerformance data has {inventory.shape[0]} data points and {inventory.shape[1]} features.")

order.shape
print(f"StudentsPerformance data has {order.shape[0]} data points and {order.shape[1]} features.")

StudentsPerformance data has 118 data points and 2 features.
StudentsPerformance data has 4200 data points and 4 features.
StudentsPerformance data has 30871 data points and 24 features.

## Check for missing values

In [ ]:
fulfillment.isnull().sum()

Product Name                            0
 Warehouse Order Fulfillment (days)     0
dtype: int64

In [ ]:
inventory.isnull().sum()

Product Name               0
 Year Month                0
 Warehouse Inventory       0
Inventory Cost Per Unit    0
dtype: int64

In [ ]:
order.isnull().sum()

 Order ID                      0
 Order Item ID                 0
 Order YearMonth               0
 Order Year                    0
 Order Month                   0
 Order Day                     0
Order Time                     0
Order Quantity                 0
Product Department             0
Product Category               0
Product Name                   0
 Customer ID                   0
Customer Market                0
Customer Region                0
Customer Country               0
Warehouse Country              0
Shipment Year                  0
Shipment Month                 0
Shipment Day                   0
Shipment Mode                  0
 Shipment Days - Scheduled     0
 Gross Sales                   0
 Discount %                    0
 Profit                        0
dtype: int64

#### Insights :
No missing value present.

## Check for duplicate values

In [ ]:
fulfillment.duplicated().sum()

0

In [ ]:
inventory.duplicated().sum()

0

In [ ]:
order.duplicated().sum()

0

#### Insights :
No duplicate records present.

## Check dataset info

In [ ]:
fulfillment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 2 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Product Name                          118 non-null    object
 1    Warehouse Order Fulfillment (days)   118 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.0+ KB

In [ ]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product Name             4200 non-null   object
 1    Year Month              4200 non-null   int64
 2    Warehouse Inventory     4200 non-null   int64
 3   Inventory Cost Per Unit  4200 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 131.4+ KB

In [ ]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30871 entries, 0 to 30870
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0    Order ID                    30871 non-null  int64
 1    Order Item ID               30871 non-null  int64
 2    Order YearMonth             30871 non-null  int64
 3    Order Year                  30871 non-null  int64
 4    Order Month                 30871 non-null  int64
 5    Order Day                   30871 non-null  int64
 6   Order Time                   30871 non-null  object
 7   Order Quantity               30871 non-null  int64
 8   Product Department           30871 non-null  object
 9   Product Category             30871 non-null  object
 10  Product Name                 30871 non-null  object
 11   Customer ID                 30871 non-null  int64
 12  Customer Market              30871 non-null  object
 13  Customer Region              30871 non-null  object
 14  Customer Country             30871 non-null  object
 15  Warehouse Country            30871 non-null  object
 16  Shipment Year                30871 non-null  int64
 17  Shipment Month               30871 non-null  int64
 18  Shipment Day                 30871 non-null  int64
 19  Shipment Mode                30871 non-null  object
 20   Shipment Days - Scheduled   30871 non-null  int64
 21   Gross Sales                 30871 non-null  int64
 22   Discount %                  30871 non-null  object
 23   Profit                      30871 non-null  int64
dtypes: int64(14), object(10)
memory usage: 5.7+ MB

#### Insights :
Anomalies were found in the dataset, with some column names containing unintended leading or trailing spaces. It's advisable to remove these spaces to ensure accurate data processing and prevent potential issues during analysis.


The data types for the year and time-related fields are incorrect, as they are currently set to int64. These columns should be converted to string format for proper handling of date and time information.

## Leading and Trailing Space removal

In [ ]:
# using strip function to remove unwanted spaces from columns name
dataframes = [fulfillment,inventory,order]

for df in dataframes:
  df.columns = df.columns.str.strip()

## Datatype conversion

In [ ]:
#change the datatype of time feature columns
order[['Order Year','Order Month','Order Day','Shipment Year','Shipment Month','Shipment Day']] = order[['Order Year','Order Month','Order Day','Shipment Year','Shipment Month','Shipment Day']].astype(str)

In [ ]:
#change the datatype of Gross Sales and Profit columns
order[['Gross Sales','Profit']] = order[['Gross Sales','Profit']].astype(float)

In [ ]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30871 entries, 0 to 30870
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Order ID                   30871 non-null  int64
 1   Order Item ID              30871 non-null  int64
 2   Order YearMonth            30871 non-null  int64
 3   Order Year                 30871 non-null  object
 4   Order Month                30871 non-null  object
 5   Order Day                  30871 non-null  object
 6   Order Time                 30871 non-null  object
 7   Order Quantity             30871 non-null  int64
 8   Product Department         30871 non-null  object
 9   Product Category           30871 non-null  object
 10  Product Name               30871 non-null  object
 11  Customer ID                30871 non-null  int64
 12  Customer Market            30871 non-null  object
 13  Customer Region            30871 non-null  object
 14  Customer Country           30871 non-null  object
 15  Warehouse Country          30871 non-null  object
 16  Shipment Year              30871 non-null  object
 17  Shipment Month             30871 non-null  object
 18  Shipment Day               30871 non-null  object
 19  Shipment Mode              30871 non-null  object
 20  Shipment Days - Scheduled  30871 non-null  int64
 21  Gross Sales                30871 non-null  float64
 22  Discount %                 30871 non-null  object
 23  Profit                     30871 non-null  float64
dtypes: float64(2), int64(6), object(16)
memory usage: 5.7+ MB

In [ ]:
order['Discount %'].sample(40)

27620    0.04
23282    0.25
14179    0.15
1065     0.01
30280    0.06
12162    0.12
24534    0.09
14937    0.15
20878    0.05
25082    0.06
3043     0.05
26097    0.15
30790    0.25
4772     0.25
10008    0.06
18011    0.02
23992    0.17
19725    0.16
21208    0.13
16899     0.1
9668     0.12
29298    0.07
1848     0.17
14473    0.07
24107     0.1
14571    0.04
25181    0.13
10642    0.17
6536     0.18
29776    0.07
12877    0.04
20430    0.17
19803    0.17
23313    0.25
14717     0.2
7497     0.16
12080    0.17
251       0.2
20927    0.01
19379    0.01
Name: Discount %, dtype: object

#### Insights :
Some rows in the dataset contain -ve values. These should be replaced with 0 to ensure accurate data interpretation.

In [ ]:
# Convert the '-' values to 0 in the 'Discount %' column and then change the data type from object to float
order['Discount %'] = order['Discount %'].replace('  -  ', 0).astype(float)

In [ ]:
order['Customer Country'].unique()

array(['Mexico', 'Brazil', 'Denmark', 'Netherlands', 'Germany', 'China',
       'Indonesia', 'Pakistan', 'India', 'USA', 'Hungary', 'Sudan',
       'Democratic Republic of Congo', 'Poland', 'Togo', 'Guatemala',
       'Panama', 'Chile', 'France', 'Sweden', 'Dominican\xa0Republic',
       'Venezuela', 'South Korea', 'Madagascar', 'Iran', 'Cuba',
       'Nicaragua', 'United Kingdom', 'Afghanistan', 'Singapore',
       'Morocco', 'Spain', 'Niger', 'Turkey', 'South Africa', 'Iraq',
       'Honduras', 'Italy', 'Australia', 'Cote d\x92Ivoire', 'Croatia',
       'Ecuador', 'Syria', 'Haiti', 'Bangladesh', 'Argentina', 'Romania',
       'El Salvador', 'Vietnam', 'Japan', 'Nigeria', 'Belarus',
       'Uzbekistan', 'Egypt', 'Albania', 'Georgia', 'Cameroon',
       'Colombia', 'New zealand', 'Canada', 'Thailand', 'Senegal',
       'Russia', 'Perú', 'Algeria\xa0', 'Ukraine', 'Belgium',
       'Philippines', 'Austria', 'Uruguay', 'Malaysia', 'Hong Kong',
       'Saudi Arabia', 'Switzerland', 'Ireland', 'Bulgaria', 'Zambia',
       'Jamaica', 'Ghana', 'Yemen', 'Norway', 'Tanzania', 'Kazakhstan',
       'Libya', 'Trinidad and Tobago', 'Finland', 'Portugal', 'Kenya',
       'Jordania', 'Bolivia', 'Gabon', 'Angola', 'Myanmar', 'Mali', 'UAE',
       'Bosnia and Herzegovina', 'Guinea', 'Cambodia', 'Papua New Guinea',
       'Rwanda', 'Israel\xa0', 'Guyana', 'Somalia', 'Barbados',
       'Guadalupe', 'Kyrgyzstan', 'Benín', 'Tunisia', 'Lithuania',
       'Montenegro', 'Costa Rica', 'Mozambique', 'Sri Lanka', 'Taiwan',
       'Czech Republic (Czechia)', 'Lesotho', 'Mongolia', 'Macedonia',
       'Zimbabwe', 'Liberia', 'Liban', 'Guinea-Bissau', 'Estonia',
       'Azerbaijan', 'Moldova', 'Republic of Congo', 'Gambia',
       'Mauritania', 'Belize', 'Qatar', 'Sierra Leona', 'Slovakia',
       'Martinique', 'Uganda', 'Namibia', 'Paraguay', 'Oman',
       'French Guiana', 'Nepal'], dtype=object)

#### Insights :
The Customer Country column includes special characters in some country names, such as the "u" in "Perú" and the "é" in "Côte d'Ivoire." These special characters should be replaced with standard text to maintain consistency and ensure accurate data processing.

## Removing unwanted characters in country name

In [ ]:
#replace the special characters in the Customer Country column
order['Customer Country'] = order['Customer Country'].replace({
    'Dominican�Republic': 'Dominican Republic',
    'Cote d�Ivoire': 'Cote d Ivoire', # Added a comma at the end of this line
    'Per�': 'Peru',
    'Algeria�': 'Algeria',
    'Israel�':'Israel',
    'Ben�n': 'Benin'
})
order['Customer Country'].unique()

array(['Mexico', 'Brazil', 'Denmark', 'Netherlands', 'Germany', 'China',
       'Indonesia', 'Pakistan', 'India', 'USA', 'Hungary', 'Sudan',
       'Democratic Republic of Congo', 'Poland', 'Togo', 'Guatemala',
       'Panama', 'Chile', 'France', 'Sweden', 'Dominican\xa0Republic',
       'Venezuela', 'South Korea', 'Madagascar', 'Iran', 'Cuba',
       'Nicaragua', 'United Kingdom', 'Afghanistan', 'Singapore',
       'Morocco', 'Spain', 'Niger', 'Turkey', 'South Africa', 'Iraq',
       'Honduras', 'Italy', 'Australia', 'Cote d\x92Ivoire', 'Croatia',
       'Ecuador', 'Syria', 'Haiti', 'Bangladesh', 'Argentina', 'Romania',
       'El Salvador', 'Vietnam', 'Japan', 'Nigeria', 'Belarus',
       'Uzbekistan', 'Egypt', 'Albania', 'Georgia', 'Cameroon',
       'Colombia', 'New zealand', 'Canada', 'Thailand', 'Senegal',
       'Russia', 'Perú', 'Algeria\xa0', 'Ukraine', 'Belgium',
       'Philippines', 'Austria', 'Uruguay', 'Malaysia', 'Hong Kong',
       'Saudi Arabia', 'Switzerland', 'Ireland', 'Bulgaria', 'Zambia',
       'Jamaica', 'Ghana', 'Yemen', 'Norway', 'Tanzania', 'Kazakhstan',
       'Libya', 'Trinidad and Tobago', 'Finland', 'Portugal', 'Kenya',
       'Jordania', 'Bolivia', 'Gabon', 'Angola', 'Myanmar', 'Mali', 'UAE',
       'Bosnia and Herzegovina', 'Guinea', 'Cambodia', 'Papua New Guinea',
       'Rwanda', 'Israel\xa0', 'Guyana', 'Somalia', 'Barbados',
       'Guadalupe', 'Kyrgyzstan', 'Benín', 'Tunisia', 'Lithuania',
       'Montenegro', 'Costa Rica', 'Mozambique', 'Sri Lanka', 'Taiwan',
       'Czech Republic (Czechia)', 'Lesotho', 'Mongolia', 'Macedonia',
       'Zimbabwe', 'Liberia', 'Liban', 'Guinea-Bissau', 'Estonia',
       'Azerbaijan', 'Moldova', 'Republic of Congo', 'Gambia',
       'Mauritania', 'Belize', 'Qatar', 'Sierra Leona', 'Slovakia',
       'Martinique', 'Uganda', 'Namibia', 'Paraguay', 'Oman',
       'French Guiana', 'Nepal'], dtype=object)

# Feature Engineering

###To reduce the number of columns and simplify the dataset,merging the year, month, day, and time columns into a single column that encapsulates all relevant date and time information. This consolidation will make the data more streamlined and manageable for analysis in Tableau.

In [ ]:
# Make new columns: Order Datetime and Shipment Datetime
order['Order Date'] = pd.to_datetime(order['Order Year'].astype(str) + '-' + order['Order Month'].astype(str) + '-' + order['Order Day'].astype(str) )
order['Shipment Date'] = pd.to_datetime(order['Shipment Year'].astype(str) + '-' + order['Shipment Month'].astype(str) + '-' + order['Shipment Day'].astype(str))

# Displaying the result
order.head()

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Shipment Year,Shipment Month,Shipment Day,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit,Order Date,Shipment Date
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,2015,2,27,Standard Class,4,400.0,0.25,200.0,2015-02-21,2015-02-27
1,4133,10320,201503,2015,3,2,7:37,1,Fan Shop,Fishing,...,2015,3,6,Standard Class,4,400.0,0.09,200.0,2015-03-02,2015-03-06
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,2015,4,20,Standard Class,4,400.0,0.06,200.0,2015-04-18,2015-04-20
3,11026,27608,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,2015,6,12,Standard Class,4,400.0,0.15,200.0,2015-06-10,2015-06-12
4,11026,27609,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,2015,6,12,Standard Class,4,400.0,0.13,200.0,2015-06-10,2015-06-12

In [ ]:
#Create shipping time feature
order['Shipment Days - Actual'] = pd.to_datetime(order['Shipment Date']) - pd.to_datetime(order['Order Date'])
order['Shipment Days - Actual'] = order['Shipment Days - Actual'].dt.days

order.head(50)

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Shipment Month,Shipment Day,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit,Order Date,Shipment Date,Shipment Days - Actual
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,2,27,Standard Class,4,400.0,0.25,200.0,2015-02-21,2015-02-27,6
1,4133,10320,201503,2015,3,2,7:37,1,Fan Shop,Fishing,...,3,6,Standard Class,4,400.0,0.09,200.0,2015-03-02,2015-03-06,4
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,4,20,Standard Class,4,400.0,0.06,200.0,2015-04-18,2015-04-20,2
3,11026,27608,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,6,12,Standard Class,4,400.0,0.15,200.0,2015-06-10,2015-06-12,2
4,11026,27609,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,6,12,Standard Class,4,400.0,0.13,200.0,2015-06-10,2015-06-12,2
5,11026,27607,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,6,12,Standard Class,4,400.0,0.16,200.0,2015-06-10,2015-06-12,2
6,19273,48192,201510,2015,10,9,7:50,1,Fan Shop,Fishing,...,10,13,Standard Class,4,400.0,0.06,200.0,2015-10-09,2015-10-13,4
7,19566,48912,201510,2015,10,13,14:29,1,Fan Shop,Fishing,...,10,15,Standard Class,4,400.0,0.12,200.0,2015-10-13,2015-10-15,2
8,21215,53077,201511,2015,11,6,16:12,1,Fan Shop,Fishing,...,11,12,Standard Class,4,400.0,0.04,200.0,2015-11-06,2015-11-12,6
9,21846,54626,201511,2015,11,15,21:16,1,Fan Shop,Fishing,...,11,17,Standard Class,4,400.0,0.02,200.0,2015-11-15,2015-11-17,2
10,21916,54821,201511,2015,11,16,21:48,1,Fan Shop,Fishing,...,11,18,Standard Class,4,400.0,0.04,200.0,2015-11-16,2015-11-18,2
11,23578,58984,201512,2015,12,11,4:04,1,Fan Shop,Fishing,...,12,15,Standard Class,4,400.0,0.05,200.0,2015-12-11,2015-12-15,4
12,25301,63394,201601,2016,1,5,7:43,1,Fan Shop,Fishing,...,1,7,Standard Class,4,400.0,0.05,200.0,2016-01-05,2016-01-07,2
13,27376,68564,201602,2016,2,4,14:40,1,Fan Shop,Fishing,...,2,6,Standard Class,4,400.0,0.01,200.0,2016-02-04,2016-02-06,2
14,27558,68986,201602,2016,2,7,6:26,1,Fan Shop,Fishing,...,2,11,Standard Class,4,400.0,0.12,200.0,2016-02-07,2016-02-11,4
15,29685,74266,201603,2016,3,9,7:37,1,Fan Shop,Fishing,...,3,15,Standard Class,4,400.0,0.07,200.0,2016-03-09,2016-03-15,6
16,33816,84407,201605,2016,5,8,14:54,1,Fan Shop,Fishing,...,5,10,Standard Class,4,400.0,0.06,200.0,2016-05-08,2016-05-10,2
17,33816,84409,201605,2016,5,8,14:54,1,Fan Shop,Fishing,...,5,10,Standard Class,4,400.0,0.05,200.0,2016-05-08,2016-05-10,2
18,35603,88900,201606,2016,6,3,16:57,1,Fan Shop,Fishing,...,6,7,Standard Class,4,400.0,0.18,200.0,2016-06-03,2016-06-07,4
19,37395,93346,201606,2016,6,29,20:47,1,Fan Shop,Fishing,...,7,5,Standard Class,4,400.0,0.01,200.0,2016-06-29,2016-07-05,6
20,37395,93345,201606,2016,6,29,20:47,1,Fan Shop,Fishing,...,7,5,Standard Class,4,400.0,0.02,200.0,2016-06-29,2016-07-05,6
21,37553,93731,201607,2016,7,2,4:08,1,Fan Shop,Fishing,...,7,6,Standard Class,4,400.0,0.15,200.0,2016-07-02,2016-07-06,4
22,39986,99770,201608,2016,8,6,16:31,1,Fan Shop,Fishing,...,8,8,Standard Class,4,400.0,0.13,200.0,2016-08-06,2016-08-08,2
23,39986,99769,201608,2016,8,6,16:31,1,Fan Shop,Fishing,...,8,8,Standard Class,4,400.0,0.15,200.0,2016-08-06,2016-08-08,2
24,41215,102872,201608,2016,8,24,15:06,1,Fan Shop,Fishing,...,8,30,Standard Class,4,400.0,0.10,200.0,2016-08-24,2016-08-30,6
25,43246,108032,201609,2016,9,23,6:38,1,Fan Shop,Fishing,...,9,25,Standard Class,4,400.0,0.02,200.0,2016-09-23,2016-09-25,2
26,43598,108882,201609,2016,9,28,9:58,1,Fan Shop,Fishing,...,10,2,Standard Class,4,400.0,0.15,200.0,2016-09-28,2016-10-02,4
27,43598,108883,201609,2016,9,28,9:58,1,Fan Shop,Fishing,...,10,2,Standard Class,4,400.0,0.13,200.0,2016-09-28,2016-10-02,4
28,49275,123192,201612,2016,12,20,6:52,1,Fan Shop,Fishing,...,12,26,Standard Class,4,400.0,0.07,200.0,2016-12-20,2016-12-26,6
29,49291,123227,201612,2016,12,20,12:28,1,Fan Shop,Fishing,...,12,22,Standard Class,4,400.0,0.03,200.0,2016-12-20,2016-12-22,2
30,49558,123846,201612,2016,12,24,10:01,1,Fan Shop,Fishing,...,12,28,Standard Class,4,400.0,0.04,200.0,2016-12-24,2016-12-28,4
31,53626,134051,201702,2017,2,21,19:13,1,Fan Shop,Fishing,...,2,23,Standard Class,4,400.0,0.07,200.0,2017-02-21,2017-02-23,2
32,55853,139664,201703,2017,3,26,7:26,1,Fan Shop,Fishing,...,3,30,Standard Class,4,400.0,0.18,200.0,2017-03-26,2017-03-30,4
33,59071,147842,201705,2017,5,12,6:51,1,Fan Shop,Fishing,...,5,14,Standard Class,4,400.0,0.17,200.0,2017-05-12,2017-05-14,2
34,59336,148547,201705,2017,5,16,3:41,1,Fan Shop,Fishing,...,5,18,Standard Class,4,400.0,0.07,200.0,2017-05-16,2017-05-18,2
35,59346,148572,201705,2017,5,16,7:11,1,Fan Shop,Fishing,...,5,18,Standard Class,4,400.0,0.03,200.0,2017-05-16,2017-05-18,2
36,63558,158874,201707,2017,7,16,18:50,1,Fan Shop,Fishing,...,7,20,Standard Class,4,400.0,0.06,200.0,2017-07-16,2017-07-20,4
37,63558,158873,201707,2017,7,16,18:50,1,Fan Shop,Fishing,...,7,20,Standard Class,4,400.0,0.07,200.0,2017-07-16,2017-07-20,4
38,63575,158913,201707,2017,7,17,0:48,1,Fan Shop,Fishing,...,7,23,Standard Class,4,400.0,0.03,200.0,2017-07-17,2017-07-23,6
39,63601,158976,201707,2017,7,17,9:54,1,Fan Shop,Fishing,...,7,19,Standard Class,4,400.0,0.17,200.0,2017-07-17,2017-07-19,2
40,63921,159791,201707,2017,7,22,2:01,1,Fan Shop,Fishing,...,7,24,Standard Class,4,400.0,0.10,200.0,2017-07-22,2017-07-24,2
41,67823,169569,201709,2017,9,17,1:04,1,Fan Shop,Fishing,...,9,21,Standard Class,4,400.0,0.03,200.0,2017-09-17,2017-09-21,4
42,67833,169600,201709,2017,9,17,4:34,1,Fan Shop,Fishing,...,9,21,Standard Class,4,400.0,0.00,200.0,2017-09-17,2017-09-21,4
43,4305,10781,201504,2015,4,13,11:25,1,Fan Shop,Fishing,...,4,13,Same Day,3,400.0,0.02,200.0,2015-04-13,2015-04-13,0
44,4305,10784,201504,2015,4,28,13:40,1,Fan Shop,Fishing,...,5,4,Same Day,3,400.0,0.01,200.0,2015-04-28,2015-05-04,6
45,7725,19313,201506,2015,6,13,2:02,1,Fan Shop,Fishing,...,6,17,Second Class,2,400.0,0.10,200.0,2015-06-13,2015-06-17,4
46,21968,54943,201510,2015,10,27,12:22,1,Fan Shop,Fishing,...,10,29,Second Class,2,400.0,0.12,200.0,2015-10-27,2015-10-29,2
47,65258,163081,201707,2017,7,2,13:15,1,Fan Shop,Fishing,...,7,6,Same Day,3,400.0,0.12,200.0,2017-07-02,2017-07-06,4
48,558,1395,201708,2017,8,18,1:48,1,Fan Shop,Fishing,...,8,24,First Class,1,400.0,0.04,200.0,2017-08-18,2017-08-24,6
49,6536,16341,201503,2015,3,4,19:52,1,Fan Shop,Fishing,...,3,5,First Class,1,400.0,0.12,200.0,2015-03-04,2015-03-05,1

In [ ]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30871 entries, 0 to 30870
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Order ID                   30871 non-null  int64
 1   Order Item ID              30871 non-null  int64
 2   Order YearMonth            30871 non-null  int64
 3   Order Year                 30871 non-null  object
 4   Order Month                30871 non-null  object
 5   Order Day                  30871 non-null  object
 6   Order Time                 30871 non-null  object
 7   Order Quantity             30871 non-null  int64
 8   Product Department         30871 non-null  object
 9   Product Category           30871 non-null  object
 10  Product Name               30871 non-null  object
 11  Customer ID                30871 non-null  int64
 12  Customer Market            30871 non-null  object
 13  Customer Region            30871 non-null  object
 14  Customer Country           30871 non-null  object
 15  Warehouse Country          30871 non-null  object
 16  Shipment Year              30871 non-null  object
 17  Shipment Month             30871 non-null  object
 18  Shipment Day               30871 non-null  object
 19  Shipment Mode              30871 non-null  object
 20  Shipment Days - Scheduled  30871 non-null  int64
 21  Gross Sales                30871 non-null  float64
 22  Discount %                 30871 non-null  float64
 23  Profit                     30871 non-null  float64
 24  Order Date                 30871 non-null  datetime64[ns]
 25  Shipment Date              30871 non-null  datetime64[ns]
 26  Shipment Days - Actual     30871 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(7), object(15)
memory usage: 6.4+ MB

In [ ]:
# If 'Shipment Days - Actual' and 'Shipment Days - Scheduled' are day counts, just subtract them directly
order['Shipment Delay - Days'] = order['Shipment Days - Actual'] - order['Shipment Days - Scheduled']
order.head(50)

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Shipment Day,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit,Order Date,Shipment Date,Shipment Days - Actual,Shipment Delay - Days
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,27,Standard Class,4,400.0,0.25,200.0,2015-02-21,2015-02-27,6,2
1,4133,10320,201503,2015,3,2,7:37,1,Fan Shop,Fishing,...,6,Standard Class,4,400.0,0.09,200.0,2015-03-02,2015-03-06,4,0
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,20,Standard Class,4,400.0,0.06,200.0,2015-04-18,2015-04-20,2,-2
3,11026,27608,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,12,Standard Class,4,400.0,0.15,200.0,2015-06-10,2015-06-12,2,-2
4,11026,27609,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,12,Standard Class,4,400.0,0.13,200.0,2015-06-10,2015-06-12,2,-2
5,11026,27607,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,12,Standard Class,4,400.0,0.16,200.0,2015-06-10,2015-06-12,2,-2
6,19273,48192,201510,2015,10,9,7:50,1,Fan Shop,Fishing,...,13,Standard Class,4,400.0,0.06,200.0,2015-10-09,2015-10-13,4,0
7,19566,48912,201510,2015,10,13,14:29,1,Fan Shop,Fishing,...,15,Standard Class,4,400.0,0.12,200.0,2015-10-13,2015-10-15,2,-2
8,21215,53077,201511,2015,11,6,16:12,1,Fan Shop,Fishing,...,12,Standard Class,4,400.0,0.04,200.0,2015-11-06,2015-11-12,6,2
9,21846,54626,201511,2015,11,15,21:16,1,Fan Shop,Fishing,...,17,Standard Class,4,400.0,0.02,200.0,2015-11-15,2015-11-17,2,-2
10,21916,54821,201511,2015,11,16,21:48,1,Fan Shop,Fishing,...,18,Standard Class,4,400.0,0.04,200.0,2015-11-16,2015-11-18,2,-2
11,23578,58984,201512,2015,12,11,4:04,1,Fan Shop,Fishing,...,15,Standard Class,4,400.0,0.05,200.0,2015-12-11,2015-12-15,4,0
12,25301,63394,201601,2016,1,5,7:43,1,Fan Shop,Fishing,...,7,Standard Class,4,400.0,0.05,200.0,2016-01-05,2016-01-07,2,-2
13,27376,68564,201602,2016,2,4,14:40,1,Fan Shop,Fishing,...,6,Standard Class,4,400.0,0.01,200.0,2016-02-04,2016-02-06,2,-2
14,27558,68986,201602,2016,2,7,6:26,1,Fan Shop,Fishing,...,11,Standard Class,4,400.0,0.12,200.0,2016-02-07,2016-02-11,4,0
15,29685,74266,201603,2016,3,9,7:37,1,Fan Shop,Fishing,...,15,Standard Class,4,400.0,0.07,200.0,2016-03-09,2016-03-15,6,2
16,33816,84407,201605,2016,5,8,14:54,1,Fan Shop,Fishing,...,10,Standard Class,4,400.0,0.06,200.0,2016-05-08,2016-05-10,2,-2
17,33816,84409,201605,2016,5,8,14:54,1,Fan Shop,Fishing,...,10,Standard Class,4,400.0,0.05,200.0,2016-05-08,2016-05-10,2,-2
18,35603,88900,201606,2016,6,3,16:57,1,Fan Shop,Fishing,...,7,Standard Class,4,400.0,0.18,200.0,2016-06-03,2016-06-07,4,0
19,37395,93346,201606,2016,6,29,20:47,1,Fan Shop,Fishing,...,5,Standard Class,4,400.0,0.01,200.0,2016-06-29,2016-07-05,6,2
20,37395,93345,201606,2016,6,29,20:47,1,Fan Shop,Fishing,...,5,Standard Class,4,400.0,0.02,200.0,2016-06-29,2016-07-05,6,2
21,37553,93731,201607,2016,7,2,4:08,1,Fan Shop,Fishing,...,6,Standard Class,4,400.0,0.15,200.0,2016-07-02,2016-07-06,4,0
22,39986,99770,201608,2016,8,6,16:31,1,Fan Shop,Fishing,...,8,Standard Class,4,400.0,0.13,200.0,2016-08-06,2016-08-08,2,-2
23,39986,99769,201608,2016,8,6,16:31,1,Fan Shop,Fishing,...,8,Standard Class,4,400.0,0.15,200.0,2016-08-06,2016-08-08,2,-2
24,41215,102872,201608,2016,8,24,15:06,1,Fan Shop,Fishing,...,30,Standard Class,4,400.0,0.10,200.0,2016-08-24,2016-08-30,6,2
25,43246,108032,201609,2016,9,23,6:38,1,Fan Shop,Fishing,...,25,Standard Class,4,400.0,0.02,200.0,2016-09-23,2016-09-25,2,-2
26,43598,108882,201609,2016,9,28,9:58,1,Fan Shop,Fishing,...,2,Standard Class,4,400.0,0.15,200.0,2016-09-28,2016-10-02,4,0
27,43598,108883,201609,2016,9,28,9:58,1,Fan Shop,Fishing,...,2,Standard Class,4,400.0,0.13,200.0,2016-09-28,2016-10-02,4,0
28,49275,123192,201612,2016,12,20,6:52,1,Fan Shop,Fishing,...,26,Standard Class,4,400.0,0.07,200.0,2016-12-20,2016-12-26,6,2
29,49291,123227,201612,2016,12,20,12:28,1,Fan Shop,Fishing,...,22,Standard Class,4,400.0,0.03,200.0,2016-12-20,2016-12-22,2,-2
30,49558,123846,201612,2016,12,24,10:01,1,Fan Shop,Fishing,...,28,Standard Class,4,400.0,0.04,200.0,2016-12-24,2016-12-28,4,0
31,53626,134051,201702,2017,2,21,19:13,1,Fan Shop,Fishing,...,23,Standard Class,4,400.0,0.07,200.0,2017-02-21,2017-02-23,2,-2
32,55853,139664,201703,2017,3,26,7:26,1,Fan Shop,Fishing,...,30,Standard Class,4,400.0,0.18,200.0,2017-03-26,2017-03-30,4,0
33,59071,147842,201705,2017,5,12,6:51,1,Fan Shop,Fishing,...,14,Standard Class,4,400.0,0.17,200.0,2017-05-12,2017-05-14,2,-2
34,59336,148547,201705,2017,5,16,3:41,1,Fan Shop,Fishing,...,18,Standard Class,4,400.0,0.07,200.0,2017-05-16,2017-05-18,2,-2
35,59346,148572,201705,2017,5,16,7:11,1,Fan Shop,Fishing,...,18,Standard Class,4,400.0,0.03,200.0,2017-05-16,2017-05-18,2,-2
36,63558,158874,201707,2017,7,16,18:50,1,Fan Shop,Fishing,...,20,Standard Class,4,400.0,0.06,200.0,2017-07-16,2017-07-20,4,0
37,63558,158873,201707,2017,7,16,18:50,1,Fan Shop,Fishing,...,20,Standard Class,4,400.0,0.07,200.0,2017-07-16,2017-07-20,4,0
38,63575,158913,201707,2017,7,17,0:48,1,Fan Shop,Fishing,...,23,Standard Class,4,400.0,0.03,200.0,2017-07-17,2017-07-23,6,2
39,63601,158976,201707,2017,7,17,9:54,1,Fan Shop,Fishing,...,19,Standard Class,4,400.0,0.17,200.0,2017-07-17,2017-07-19,2,-2
40,63921,159791,201707,2017,7,22,2:01,1,Fan Shop,Fishing,...,24,Standard Class,4,400.0,0.10,200.0,2017-07-22,2017-07-24,2,-2
41,67823,169569,201709,2017,9,17,1:04,1,Fan Shop,Fishing,...,21,Standard Class,4,400.0,0.03,200.0,2017-09-17,2017-09-21,4,0
42,67833,169600,201709,2017,9,17,4:34,1,Fan Shop,Fishing,...,21,Standard Class,4,400.0,0.00,200.0,2017-09-17,2017-09-21,4,0
43,4305,10781,201504,2015,4,13,11:25,1,Fan Shop,Fishing,...,13,Same Day,3,400.0,0.02,200.0,2015-04-13,2015-04-13,0,-3
44,4305,10784,201504,2015,4,28,13:40,1,Fan Shop,Fishing,...,4,Same Day,3,400.0,0.01,200.0,2015-04-28,2015-05-04,6,3
45,7725,19313,201506,2015,6,13,2:02,1,Fan Shop,Fishing,...,17,Second Class,2,400.0,0.10,200.0,2015-06-13,2015-06-17,4,2
46,21968,54943,201510,2015,10,27,12:22,1,Fan Shop,Fishing,...,29,Second Class,2,400.0,0.12,200.0,2015-10-27,2015-10-29,2,0
47,65258,163081,201707,2017,7,2,13:15,1,Fan Shop,Fishing,...,6,Same Day,3,400.0,0.12,200.0,2017-07-02,2017-07-06,4,1
48,558,1395,201708,2017,8,18,1:48,1,Fan Shop,Fishing,...,24,First Class,1,400.0,0.04,200.0,2017-08-18,2017-08-24,6,5
49,6536,16341,201503,2015,3,4,19:52,1,Fan Shop,Fishing,...,5,First Class,1,400.0,0.12,200.0,2015-03-04,2015-03-05,1,0

In [ ]:
# Create the 'Shipping Delay Status' feature based on the delay calculated
def calculate_delay(row):
    delay = row['Shipment Delay - Days']

    if delay < 0:
        return 'Before schedule'
    elif delay == 0:
        return 'On schedule'
    elif delay <= 5:
        return 'Delay up to 5 days'
    else:
        return 'Delay over 5 days'

# Apply the function to create the 'Shipping Delay Status' column
order['Shipping Delay Status'] = order.apply(calculate_delay, axis=1)

# Display the first 50 rows to verify the results
order.head(50)

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit,Order Date,Shipment Date,Shipment Days - Actual,Shipment Delay - Days,Shipping Delay Status
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.25,200.0,2015-02-21,2015-02-27,6,2,Delay up to 5 days
1,4133,10320,201503,2015,3,2,7:37,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.09,200.0,2015-03-02,2015-03-06,4,0,On schedule
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.06,200.0,2015-04-18,2015-04-20,2,-2,Before schedule
3,11026,27608,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.15,200.0,2015-06-10,2015-06-12,2,-2,Before schedule
4,11026,27609,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.13,200.0,2015-06-10,2015-06-12,2,-2,Before schedule
5,11026,27607,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.16,200.0,2015-06-10,2015-06-12,2,-2,Before schedule
6,19273,48192,201510,2015,10,9,7:50,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.06,200.0,2015-10-09,2015-10-13,4,0,On schedule
7,19566,48912,201510,2015,10,13,14:29,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.12,200.0,2015-10-13,2015-10-15,2,-2,Before schedule
8,21215,53077,201511,2015,11,6,16:12,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.04,200.0,2015-11-06,2015-11-12,6,2,Delay up to 5 days
9,21846,54626,201511,2015,11,15,21:16,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.02,200.0,2015-11-15,2015-11-17,2,-2,Before schedule
10,21916,54821,201511,2015,11,16,21:48,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.04,200.0,2015-11-16,2015-11-18,2,-2,Before schedule
11,23578,58984,201512,2015,12,11,4:04,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.05,200.0,2015-12-11,2015-12-15,4,0,On schedule
12,25301,63394,201601,2016,1,5,7:43,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.05,200.0,2016-01-05,2016-01-07,2,-2,Before schedule
13,27376,68564,201602,2016,2,4,14:40,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.01,200.0,2016-02-04,2016-02-06,2,-2,Before schedule
14,27558,68986,201602,2016,2,7,6:26,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.12,200.0,2016-02-07,2016-02-11,4,0,On schedule
15,29685,74266,201603,2016,3,9,7:37,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.07,200.0,2016-03-09,2016-03-15,6,2,Delay up to 5 days
16,33816,84407,201605,2016,5,8,14:54,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.06,200.0,2016-05-08,2016-05-10,2,-2,Before schedule
17,33816,84409,201605,2016,5,8,14:54,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.05,200.0,2016-05-08,2016-05-10,2,-2,Before schedule
18,35603,88900,201606,2016,6,3,16:57,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.18,200.0,2016-06-03,2016-06-07,4,0,On schedule
19,37395,93346,201606,2016,6,29,20:47,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.01,200.0,2016-06-29,2016-07-05,6,2,Delay up to 5 days
20,37395,93345,201606,2016,6,29,20:47,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.02,200.0,2016-06-29,2016-07-05,6,2,Delay up to 5 days
21,37553,93731,201607,2016,7,2,4:08,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.15,200.0,2016-07-02,2016-07-06,4,0,On schedule
22,39986,99770,201608,2016,8,6,16:31,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.13,200.0,2016-08-06,2016-08-08,2,-2,Before schedule
23,39986,99769,201608,2016,8,6,16:31,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.15,200.0,2016-08-06,2016-08-08,2,-2,Before schedule
24,41215,102872,201608,2016,8,24,15:06,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.10,200.0,2016-08-24,2016-08-30,6,2,Delay up to 5 days
25,43246,108032,201609,2016,9,23,6:38,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.02,200.0,2016-09-23,2016-09-25,2,-2,Before schedule
26,43598,108882,201609,2016,9,28,9:58,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.15,200.0,2016-09-28,2016-10-02,4,0,On schedule
27,43598,108883,201609,2016,9,28,9:58,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.13,200.0,2016-09-28,2016-10-02,4,0,On schedule
28,49275,123192,201612,2016,12,20,6:52,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.07,200.0,2016-12-20,2016-12-26,6,2,Delay up to 5 days
29,49291,123227,201612,2016,12,20,12:28,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.03,200.0,2016-12-20,2016-12-22,2,-2,Before schedule
30,49558,123846,201612,2016,12,24,10:01,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.04,200.0,2016-12-24,2016-12-28,4,0,On schedule
31,53626,134051,201702,2017,2,21,19:13,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.07,200.0,2017-02-21,2017-02-23,2,-2,Before schedule
32,55853,139664,201703,2017,3,26,7:26,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.18,200.0,2017-03-26,2017-03-30,4,0,On schedule
33,59071,147842,201705,2017,5,12,6:51,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.17,200.0,2017-05-12,2017-05-14,2,-2,Before schedule
34,59336,148547,201705,2017,5,16,3:41,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.07,200.0,2017-05-16,2017-05-18,2,-2,Before schedule
35,59346,148572,201705,2017,5,16,7:11,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.03,200.0,2017-05-16,2017-05-18,2,-2,Before schedule
36,63558,158874,201707,2017,7,16,18:50,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.06,200.0,2017-07-16,2017-07-20,4,0,On schedule
37,63558,158873,201707,2017,7,16,18:50,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.07,200.0,2017-07-16,2017-07-20,4,0,On schedule
38,63575,158913,201707,2017,7,17,0:48,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.03,200.0,2017-07-17,2017-07-23,6,2,Delay up to 5 days
39,63601,158976,201707,2017,7,17,9:54,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.17,200.0,2017-07-17,2017-07-19,2,-2,Before schedule
40,63921,159791,201707,2017,7,22,2:01,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.10,200.0,2017-07-22,2017-07-24,2,-2,Before schedule
41,67823,169569,201709,2017,9,17,1:04,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.03,200.0,2017-09-17,2017-09-21,4,0,On schedule
42,67833,169600,201709,2017,9,17,4:34,1,Fan Shop,Fishing,...,Standard Class,4,400.0,0.00,200.0,2017-09-17,2017-09-21,4,0,On schedule
43,4305,10781,201504,2015,4,13,11:25,1,Fan Shop,Fishing,...,Same Day,3,400.0,0.02,200.0,2015-04-13,2015-04-13,0,-3,Before schedule
44,4305,10784,201504,2015,4,28,13:40,1,Fan Shop,Fishing,...,Same Day,3,400.0,0.01,200.0,2015-04-28,2015-05-04,6,3,Delay up to 5 days
45,7725,19313,201506,2015,6,13,2:02,1,Fan Shop,Fishing,...,Second Class,2,400.0,0.10,200.0,2015-06-13,2015-06-17,4,2,Delay up to 5 days
46,21968,54943,201510,2015,10,27,12:22,1,Fan Shop,Fishing,...,Second Class,2,400.0,0.12,200.0,2015-10-27,2015-10-29,2,0,On schedule
47,65258,163081,201707,2017,7,2,13:15,1,Fan Shop,Fishing,...,Same Day,3,400.0,0.12,200.0,2017-07-02,2017-07-06,4,1,Delay up to 5 days
48,558,1395,201708,2017,8,18,1:48,1,Fan Shop,Fishing,...,First Class,1,400.0,0.04,200.0,2017-08-18,2017-08-24,6,5,Delay up to 5 days
49,6536,16341,201503,2015,3,4,19:52,1,Fan Shop,Fishing,...,First Class,1,400.0,0.12,200.0,2015-03-04,2015-03-05,1,0,On schedule

In [ ]:
order['Shipment Days - Actual'].describe()

count    30871.000000
mean         3.560753
std        131.195817
min       -975.000000
25%          2.000000
50%          3.000000
75%          5.000000
max        978.000000
Name: Shipment Days - Actual, dtype: float64

In [ ]:
#Create storage cost feature
inventory['Storage Cost'] = inventory['Inventory Cost Per Unit']*inventory['Warehouse Inventory']
inventory

,Product Name,Year Month,Warehouse Inventory,Inventory Cost Per Unit,Storage Cost
0,Perfect Fitness Perfect Rip Deck,201712,0,0.69517,0.00000
1,Nike Men's Dri-FIT Victory Golf Polo,201712,2,1.29291,2.58582
2,O'Brien Men's Neoprene Life Vest,201712,0,0.56531,0.00000
3,Nike Men's Free 5.0+ Running Shoe,201712,1,1.26321,1.26321
4,Under Armour Girls' Toddler Spine Surge Runni,201712,0,1.47648,0.00000
...,...,...,...,...,...
4195,TaylorMade 2017 Purelite Stand Bag,201501,0,1.44662,0.00000
4196,Ogio Race Golf Shoes,201501,0,0.10310,0.00000
4197,GolfBuddy VT3 GPS Watch,201501,0,1.77747,0.00000
4198,Titleist Small Wheeled Travel Cover,201501,0,0.15244,0.00000
4199,Polar Loop Activity Tracker,201501,1,0.88259,0.88259

Create business performance feature

In [ ]:
#Create net sales and unit price feature
order['Net Sales'] = order['Gross Sales'] - order['Gross Sales'] * order['Discount %']
order['Unit Price'] = order['Gross Sales'] / order['Order Quantity']
order

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Gross Sales,Discount %,Profit,Order Date,Shipment Date,Shipment Days - Actual,Shipment Delay - Days,Shipping Delay Status,Net Sales,Unit Price
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,400.0,0.25,200.0,2015-02-21,2015-02-27,6,2,Delay up to 5 days,300.00,400.0
1,4133,10320,201503,2015,3,2,7:37,1,Fan Shop,Fishing,...,400.0,0.09,200.0,2015-03-02,2015-03-06,4,0,On schedule,364.00,400.0
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,400.0,0.06,200.0,2015-04-18,2015-04-20,2,-2,Before schedule,376.00,400.0
3,11026,27608,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,400.0,0.15,200.0,2015-06-10,2015-06-12,2,-2,Before schedule,340.00,400.0
4,11026,27609,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,400.0,0.13,200.0,2015-06-10,2015-06-12,2,-2,Before schedule,348.00,400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30866,73246,176561,201712,2017,12,5,4:59,1,Fan Shop,Toys,...,12.0,0.06,6.0,2017-12-05,2017-12-11,6,2,Delay up to 5 days,11.28,12.0
30867,7908,19762,201504,2015,4,26,10:10,1,Fan Shop,Hunting & Shooting,...,30.0,0.12,68.0,2015-04-26,2015-04-30,4,0,On schedule,26.40,30.0
30868,29326,73368,201603,2016,3,4,1:51,1,Fan Shop,Hunting & Shooting,...,30.0,0.09,68.0,2016-03-04,2016-03-06,2,0,On schedule,27.30,30.0
30869,63308,158284,201707,2017,7,13,3:15,1,Fan Shop,Hunting & Shooting,...,150.0,0.02,60.0,2017-07-13,2017-07-17,4,2,Delay up to 5 days,147.00,150.0
30870,67951,169874,201709,2017,9,18,21:54,1,Fan Shop,Water Sports,...,350.0,0.00,172.0,2017-09-18,2017-09-20,2,1,Delay up to 5 days,350.00,350.0

# Exporting Cleaned Data

In [ ]:
# Export DataFrames to CSV
order.to_csv('orders_and_shipment_cleaned.csv', index=False)
inventory.to_csv('inventory_cleaned.csv', index=False)
fulfillment.to_csv('fulfillment_cleaned.csv', index=False)